/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General styles */ 
/* Typography */
html {
  font-size: 1.25em;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Sacramento', cursive;
}

h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

/* Header Styles */

.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #A3A0CB;
  padding-bottom: 1%;
}

.brand h1 {
  font-size: 3rem;
}

nav {
  background-color: #160040;

}

a.nav-link {
  color: #A3A0CB;
}

a.nav-link:hover {
color: #FAFF81;
}

/* Mission/About Styles */
#about {
  background-image: url("../img/kitten-with-ball-of-yarn-lrg.jpg");
  background-color: #FFFFFF;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  text-align: center;
}

#about .overlay {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about p {
  width: 80%;
}

#about span {
  font-family: 'Sacramento', cursive;
  font-size: 2rem;
  background-image: linear-gradient(120deg, #FAFF81 0, #FAFF81 100%);
  background-repeat: no-repeat;
  background-size: 100% 1rem;
  background-position: 0 65%;
}
  
/* Courses Styles */

#courses {
  padding: 2% 2% 4%;
  text-align: center;
  background: linear-gradient(180deg, transparent 20%, #FAFF81 35%, transparent 75%);
}

#courses h2 {
  margin-bottom: 2%;
  margin-top: 2%;
} 

#courses img {
  width: 100%;
  padding-bottom: 4%;
  border-radius: 100px 10px;
}

#courses div {
  border-bottom: 2px solid #A3A0CB;
  border-right: 2px solid #A3A0CB;
  padding-bottom: 4%;
  border-radius: 0 0 100px 0;
}

#courses button {
  border: 2px solid #C6696C;
  border-radius: 8px;
  padding: 2%;
  background-color: #C6696C;
  transition: all linear 200ms;
}

#courses button:hover {
  border-color:#160040;
  background-color: #160040;
  color: #FAFF81;
}

/* Impact Styles */

#impact {
  padding: 2%;
  background: linear-gradient(180deg, transparent 5%,  rgb(198, 105, 108, 0.5) 100% , transparent 95%)
}

#impact h2, 
#impact > p {
  text-align: center;
}

#impact h2 {
  background-image: linear-gradient(120deg, #FAFF81 0, #FAFF81 100%);
  background-repeat: no-repeat;
  background-size: 100% 1rem;
  background-position: 0 65%;
}

#impact article {
  margin: 25px 25px;
  padding: 4%;
  background-color: #160040;
  color:#FFFFFF;
  border: none;
  border-radius: 10px 100px 10px 100px;  
  max-height: 500px;
  position: relative;
  box-shadow:  8px 8px #ffffff;
}

#impact p {
  font-size: 1.5rem;
  padding-bottom: 50px;
}

#impact i {
  font-size: 80px;
  position: absolute;
  right: 20px;
  bottom: 10px;
}

/* Testimonial Styles */
#testimonials {
  padding: 4% 2%;
}

#testimonials h2 {
  margin-bottom: 2%;
}

figure {
  display: flex;
  align-items: center;  
}

.img-container {
  background-color: rgb(198, 105, 108 ,0.5);
}

figure img {
  border-radius: 100px 0 100px 0;
  border-bottom: 10px solid #A3A0CB;
  border-right: 5px solid #C6696C;
  padding: 5px;
}

figcaption {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25rem ;
  padding: 4%;

}

figcaption span {
  font-family: 'Sacramento', cursive;
  font-size: 1.75rem;
  background-image: linear-gradient(120deg, #FAFF81 0, #FAFF81 100%);
  background-repeat: no-repeat;
  background-size: 100% 1rem;
  background-position: 0 65%;
}

/* Newsletter CTA Styles */
#newsletter {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4% 10%;
  background-image: url(../img/brown-tabby-cat-laying-on-side-lrg.jpg);
  height: 900px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  line-height: 3rem;
}

#newsletter h2 {
  text-decoration: underline 10px #FAFF81;
}

#newsletter input {
  width: 50%;
  border: 2px solid #160040;
  border-radius: 8px;
  margin-bottom: 10px;
}
#newsletter input:focus {
  background-color: #FAFF81;
}

#newsletter button {
  border: 2px solid #C6696C;
  border-radius: 8px;
  background-color: #C6696C;
  transition: all linear 200ms;
  width: 10%;
}

#newsletter button:hover {
  border-color:#160040;
  background-color: #160040;
  color: #FAFF81;
}

/* Footer Styles */
footer {
  background-color: #160040;
  color: #A3A0CB;
  padding: 2%;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

